# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [33]:
# Create our features
X = df.drop(columns = 'loan_status')
X = pd.get_dummies(X)
# Create our target
y = df.loan_status

In [34]:
pd.set_option('display.width', None)
X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,9.60,0.0,0.0,9.0,0.0,2684.0,...,0,1,0,1,0,1,1,0,1,1
68813,12000.0,0.2727,368.37,63000.0,29.07,0.0,0.0,8.0,0.0,13314.0,...,0,1,0,1,0,1,1,0,1,1
68814,5000.0,0.1992,185.62,52000.0,14.86,0.0,0.0,5.0,1.0,3715.0,...,0,1,0,1,0,1,1,0,1,1
68815,40000.0,0.0646,1225.24,520000.0,9.96,0.0,1.0,21.0,0.0,59529.0,...,0,1,1,0,0,1,1,0,1,1
68816,16000.0,0.1131,350.36,72000.0,7.02,2.0,0.0,12.0,1.0,11882.0,...,0,1,0,1,0,1,1,0,1,1

## Here we can see that we have far less "Low Risk" entries than "High Risk" entries.
### We will have to take that into account when we set up our machine learning models.

In [35]:
# Check the balance of our target values
Counter(y)

Counter({'low_risk': 68470, 'high_risk': 347})

In [36]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   random_state = 1,
                                                   stratify = y)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [37]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler

In [38]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

In [44]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [40]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rfc_model = RandomForestClassifier(n_estimators=500, random_state=1)
rfc_model = rfc_model.fit(X_train_scaled, y_train)
predictions = rfc_model.predict(X_test_scaled)

In [41]:
# Calculated the balanced accuracy score
bac = balanced_accuracy_score(y_test, predictions)
bac

0.6605982410126868

In [42]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   28,    59],
       [   11, 17107]])

In [43]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.72      0.32      1.00      0.44      0.57      0.30        87
   low_risk       1.00      1.00      0.32      1.00      0.57      0.34     17118

avg / total       1.00      1.00      0.33      1.00      0.57      0.34     17205

In [16]:
# List the features sorted in descending order by feature importance
features_by_importance = pd.DataFrame(sorted(zip(rfc_model.feature_importances_, X.columns), reverse=True)).head(10)
features_by_importance.columns = ['Importance','Feature']
features_by_importance

   Importance               Feature
0    0.078120       total_rec_prncp
1    0.075961         total_rec_int
2    0.066417       total_pymnt_inv
3    0.063986           total_pymnt
4    0.060087       last_pymnt_amnt
5    0.021583         out_prncp_inv
6    0.020838             out_prncp
7    0.020227           installment
8    0.016717                   dti
9    0.016428  mo_sin_old_rev_tl_op

### Easy Ensemble Classifier

In [17]:
# Train the Classifier
from sklearn.ensemble import GradientBoostingClassifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=1,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)
classifier.fit(X_train_scaled, y_train.ravel())
eec_predictions = classifier.predict(X_test)

In [23]:
# Calculated the balanced accuracy score
eec_bac = balanced_accuracy_score(y_test, predictions)
eec_bac

0.6605982410126868

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, eec_predictions)

array([[    5,    82],
       [  542, 16576]])

In [20]:
# Print the imbalanced classification report
print("Easy Ensemble Classifier")
print(classification_report_imbalanced(y_test, eec_predictions))

Easy Ensemble Classifier
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.06      0.97      0.02      0.24      0.05        87
   low_risk       1.00      0.97      0.06      0.98      0.24      0.06     17118

avg / total       0.99      0.96      0.06      0.98      0.24      0.06     17205

In [21]:
print('Balanced Random Forest Classifier')
print(classification_report_imbalanced(y_test, predictions))

Balanced Random Forest Classifier
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.72      0.32      1.00      0.44      0.57      0.30        87
   low_risk       1.00      1.00      0.32      1.00      0.57      0.34     17118

avg / total       1.00      1.00      0.33      1.00      0.57      0.34     17205

In [22]:
print(f'Balanced Random Forest BAC: {bac}')
print(f'Easy Ensemble Classifier BAC: {eec_bac}')

Balanced Random Forest BAC: 0.6605982410126868
Easy Ensemble Classifier BAC: 0.6605982410126868

### Final Questions

1. Which model had the best balanced accuracy score?

    Oddly enough, they both had the same balanced accuracy score.

2. Which model had the best recall score?

    The balanced random forest model had the best recall score; higher max and higher min.

3. Which model had the best geometric mean score?

    According to the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.fowlkes_mallows_score.html), the balanced random forest had the best geometric mean score.

4. What are the top three features?

    The top three features that have the biggest impact on this model are total_rec_prncp, total_rec_int, total_pymnt_inv.